//ignore everything on line after // space delimenated (: for read ability)
//reserved // maping 

//define inputs
//input_name: input_type 
//input_data1.pin1
//input_data2.pin2;
testJoy: joystick
button.20;

//define maping
//maping: maping_name
//controller packet_type {input};
maping: test
mouse   0   {testJoy.button}